<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <form action="" class=" flex flex h-[20rem] border-4">
        <h1>Create User</h1>
        <input name="Name" type="text" placeholder="Name" >
        <input name="Img" type="text" placeholder="Image">
        <input name="Email" type="text" placeholder="E-Mail">
        <input name="Bio" type="text" placeholder="Bio">
        <input name="Age" type="text" placeholder="Age">
        <button>Create</button>
    </form>
</body>
</html>