<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="flex justify-center mt-[10rem] ">
    <form action="/create" class="flex flex-col justify-center items-center border-2 h-[30rem] w-[20rem] text-2xl leading-10 ">
        <input type="text" placeholder="Enter name" name="name">
        <input type="text" placeholder="Enter email" name="email">
        <input type="text" placeholder="Enter age" name="age">
        <input type="text" placeholder="Enter bio" name="bio">
        <input type="text" placeholder="Enter img" name="img">
        <button class="border-2 p-1 mt-5 text-lg" >Create</button>
    </form> 
</body>
</html>